<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap links -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/fccb07e8f1.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap"
      rel="stylesheet"
    />
    <!-- No need to mention public folder "css/name_of_the_respectiove_stylesheet, similarly with js" -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <header id="home">
      <nav
        class="navbar navbar-light navbar-expand-lg"
        id="my-navbar"
        style="background-color: #83d5fb"
      >
        <!-- Navbar content -->
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Secura</a>

          <button
            id="togglerBtn"
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse links-container"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link list-item js-scroll-trigger" href="#about"
                  >About</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link list-item js-scroll-trigger" href="#contacts"
                  >Contact</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link list-item"
                  aria-current="page"
                  href="signup"
                  target="_blank"
                  >Signup</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- END OF NAVBAR -->
  </body>
</html>
